$text-color: #6B6862;
$font-family-sans-serif:  "Merriweather Sans", Helvetica, Arial, sans-serif !default;
$font-family-serif:  "Merriweather", Helvetica, Arial, sans-serif !default;

$primary:   #706fd3;
$blue:   #706fd3;
$warning:   #ffb142;
$danger:    #ff5252;

@import '~bootstrap/scss/bootstrap.scss';
